.card{
    background-color: #FAF0E6;
    display: flex;
    width: 250px;
    flex-direction: column;
    padding: 30px 20px 20px;
    cursor: pointer;
    margin: 0 auto;
}

.img{
    width: 150px;
    height: 200px;
    box-shadow: 0 10px 13px -5px #979798;
    margin: 0 auto;
}

.categorie{
    color: #979798;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
}

.title{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 7px;
}

.author{
    color: #979798;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.containerInfo{
    display: flex;
    flex-direction: column;
}